-if ( data.size == 0 || data[0].keys.size.to_f == 0)
	%text{ :x => "0", :y => "100%" }
		="Empty data set"
-else
	%rect{ :x => "0", :y => "0", :width=>"100%", :height=>"100%", :style=>"fill:white" }
	
	- ks = data[0].keys.size.to_f
	- max_item  = data.max_by{|a| a[a.keys[1]]}
	- max_value = max_item[ max_item.keys[1] ]
	- h = 50.0/data.size
	- steps_color = 360.0 / @data.size.to_f

	- data.each_with_index do |d,i|
		- y = 2*i*h+h
		- color = steps_color * i
		- w = d[d.keys[1]]*95.0/max_value
		%rect{ :height => "#{h}%",
			:style=>'fill:hsl(#{color},100%,25%)',
			:y => "#{y}%",
			:width => "#{w}%"}
		%text{ :y => "#{y}%" }= d[d.keys[0]]
		-#%rect{:y=>ks*i+ki,:x=>0,:width=>w,:height=>1,:style=>"fill:hsl(color,100%,25%)"}

