- style_text = "font-size:0.1px;font-family:Trebuchet MS;fill:white;text-anchor:initial;text-align:left;writing-mode:lr;alignment-baseline:central"
- data[0].keys.each_with_index do |k,ki|
	- max_value = data.max_by{|a| a[k]}[k] rescue nil
	- min_value = data.max_by{|a| a[k]}[k] rescue nil
	- legend = {}
	- data.each_with_index do |d,i|
		-begin
			-legend[ d[k] ] ||= "hsl(#{ k.hash.to_f % 360.0 }, 100%, #{10.0 + d[k].to_f * 35.0 / max_value }%)"
		-rescue TypeError
			-legend[ d[k] ] ||= "hsl(#{( k.hash.to_f + d[k].hash.to_f ) % 360.0}, 45%, 25%)"
		-rescue
			-legend[ d[k] ] ||= "#aaaa00"
	- h = 5
	- x = ki * h
	%text{ :x=>"#{x}",:y=>"0",:transform=>"rotate(#{at})",:style=>style_text }
		= k
	-if( max_value && min_value )
		%text{ :x => x+1, :y => 1,                            :style => "fill:#{legend[min_value]}" }= min_value
		%rect{ :x => x,   :y => 1, :height => 1, :width => 1, :style => "fill:#{legend[min_value]}" }
		%text{ :x => x+1, :y => h,                            :style => "fill:#{legend[max_value]}" }= max_value
		%rect{ :x => x,   :y => h, :height => 1, :width => 1, :style => "fill:#{legend[max_value]}" }
	-else
		-legend.each do |kv,i|
			- dk,color = kv
			%text{ :x => x+1, :y => i+1,                            :style => "fill:#{color}" }= dk
			%rect{ :x => x,   :y => i+1, :height => 1, :width => 1, :style => "fill:#{color}" }
