- sy = 0
- sx = 0
- style_text = "font-size:1px;font-family:Trebuchet MS;fill:#888;text-anchor:initial;text-align:left;writing-mode:lr;alignment-baseline:central"
%g{ :transform => "scale(10)" }
	- data[0].keys.each do |k|
		%text{ :x => sx, :y => sy, :style => style_text }= k.to_s
		- sy = sy + 1
		- max_value = data.max_by{|a| a[k].to_f}[k] rescue nil
		- min_value = data.min_by{|a| a[k].to_f}[k] rescue nil
		- legend = {}
		- data.each_with_index do |d,i|
			- value = d[ k ]
			-begin
				-legend[ value ] ||= "hsl(#{ HMAC::MD5.new( k ).hexdigest.to_i( 16 ) % 360 }, 100%, #{10.0 + (value.to_f - min_value) * 35.0 / (max_value - min_value) }%)"
			-rescue TypeError
				-legend[ value ] ||= "hsl(#{( i.to_f * 360.0 ) / data.size }, 45%, 25%)"
			-rescue
				-legend[ value ] ||= "#aaaa00"
		- legend.each do |v,color|
			%rect{ :x => sx  , :y => sy, :height => 1, :width => 1, :style => "fill:#{color}" }
			%text{ :x => sx+1, :y => sy,                            :style => "#{style_text};fill:#{color}" }= v
			- sy = sy + 1
		-sy = 0
		-sx = sx + 5